openapi: 3.0.0
info:
  contact:
    email: hello@dataright.plus
    name: DataRight Plus
    url: https://dataright.plus/
  description: |
    This is the DataRight Plus (DataRight+) Redocly repository containing the collation of DataRight+ Application Programming Interfaces (APIs).
  license:
    name: MIT
    url: https://dataright.plus/
  title: 'DataRight+: Redocly'
  version: v0.0.6
servers:
  - url: https://api.provider.dataright.plus/cds-au/v1
    description: Example Base URL for a Provider
  - url: https://api.register.dataright.plus
    description: Example TLS Register Base URI
  - url: https://secure.api.register.dataright.plus
    description: Example MTLS Register Base URI
tags:
  - name: Admin
    description: Admin APIs
  - name: Banking Accounts
    x-displayName: Accounts
    description: Accounts Related APIs
  - name: Banking Balances
    x-displayName: Balances
    description: Banking Account Balance Related APIs
  - name: Common
    description: Common APIs
  - name: Customer
    description: APIs related to the distribution of customer information, in the context of a Consumer, from a Provider.
  - name: Operations
    description: APIs related to operational status of the Provider
  - name: Direct Debits
    description: Banking Direct Debits APIs
  - name: Metrics
    description: Metrics APIs
  - name: Metadata
    description: Metadata APIs
  - name: Payees
    description: Banking Payee APIs
  - name: Banking Products
    x-displayName: Products
    description: Banking Product APIs
  - name: Scheduled Payments
    description: Scheduled Payments APIs
  - name: Transactions
    description: Banking Transactions APIs
  - name: CDR End Points
    description: CDR Endpoints within the Information Security profile
  - name: Energy Accounts
    x-displayName: Accounts
    description: Energy Account Related APIs
  - name: Energy Plans
    x-displayName: Plans
    description: Energy Plans Related APIs
  - name: Electricity Usage
    x-displayName: Usage
    description: Electricity Usage Related APIs
  - name: Energy Billing
    x-displayName: Billing
    description: Energy Billing Related APIs
  - name: Directory Initiators
    description: Endpoints hosted by the Ecosystem Authority related to Initiators
    x-displayName: Initiators
  - name: Directory Providers
    description: Endpoints hosted by the Ecosystem Authority related to Providers
    x-displayName: Providers
  - name: Directory Assertions
    description: Endpoints hosted by the Ecosystem Authority providing Assertions
    x-displayName: Assertions
  - name: Client Registration
    description: Dynamic Client Registration Endpoints
  - name: Electrical Assets
    x-displayName: Assets
    description: Electrical Asset Information
  - name: Electricity Authority Assets
    x-displayName: Assets
    description: Asset information provided by the Electricity Authority
  - name: Electricity Authority Usage
    x-displayName: Usage
    description: Meter usage information provided by the Electricity Authority
paths:
  /banking/accounts:
    get:
      summary: Get Banking Accounts
      description: Obtain a list of Bank Accounts
      operationId: listBankingAccounts
      parameters:
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListBankingAccounts'
        '400':
          $ref: '#/components/responses/ListBankingAccounts400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListBankingAccounts406'
        '422':
          $ref: '#/components/responses/ListBankingAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Banking Accounts
      security:
        - ProviderAuth:
            - bank:accounts.basic:read
      x-version: '2'
  /banking/accounts/balances:
    get:
      description: Obtain balances for multiple, filtered accounts
      operationId: listBankingBalancesBulk
      parameters:
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListBalancesBulk'
        '400':
          $ref: '#/components/responses/ListBalancesBulk400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListBalancesBulk406'
        '422':
          $ref: '#/components/responses/ListBalancesBulk422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Bulk Balances
      tags:
        - Banking Balances
      security:
        - ProviderAuth:
            - bank:accounts.basic:read
      x-version: '1'
    post:
      description: Obtain balances for a specified list of accounts
      operationId: listBalancesSpecificBankingAccounts
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountIds'
      responses:
        '200':
          $ref: '#/components/responses/ListBalancesSpecificBankingAccounts'
        '400':
          $ref: '#/components/responses/ListBalancesSpecificBankingAccounts400'
        '406':
          $ref: '#/components/responses/ListBalancesSpecificBankingAccounts406'
        '422':
          $ref: '#/components/responses/ListBalancesSpecificBankingAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Balances For Specific Banking Accounts
      tags:
        - Banking Balances
      security:
        - ProviderAuth:
            - bank:accounts.basic:read
      x-version: '1'
  /banking/accounts/direct-debits:
    get:
      description: Obtain direct debit authorisations for multiple, filtered accounts
      operationId: listDirectDebitsBulk
      parameters:
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListDirectDebitsBulk'
        '400':
          $ref: '#/components/responses/ListDirectDebitsBulk400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListDirectDebitsBulk406'
        '422':
          $ref: '#/components/responses/ListDirectDebitsBulk422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Bulk Direct Debits
      tags:
        - Direct Debits
      security:
        - ProviderAuth:
            - bank:regular_payments:read
      x-version: '1'
    post:
      description: Obtain direct debit authorisations for a specified list of accounts
      operationId: listDirectDebitsSpecificAccounts
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountIds'
      responses:
        '200':
          $ref: '#/components/responses/ListDirectDebitsSpecificAccounts'
        '400':
          $ref: '#/components/responses/ListDirectDebitsSpecificAccounts400'
        '406':
          $ref: '#/components/responses/ListDirectDebitsSpecificAccounts406'
        '422':
          $ref: '#/components/responses/ListDirectDebitsSpecificAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Direct Debits For Specific Accounts
      tags:
        - Direct Debits
      security:
        - ProviderAuth:
            - bank:regular_payments:read
      x-version: '1'
  /banking/accounts/{accountId}:
    get:
      description: Obtain detailed information on a single bank account
      operationId: getBankingAccountDetail
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountDetail'
        '400':
          $ref: '#/components/responses/GetAccountDetail400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetAccountDetail404'
        '406':
          $ref: '#/components/responses/GetAccountDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Banking Account Detail
      tags:
        - Banking Accounts
      security:
        - ProviderAuth:
            - bank:accounts.detail:read
      x-version: '3'
  /banking/accounts/{accountId}/balance:
    get:
      description: Obtain the balance for a single specified account
      operationId: getBankingBalance
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetBalance'
        '400':
          $ref: '#/components/responses/GetBalance400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetBalance404'
        '406':
          $ref: '#/components/responses/GetBalance406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Account Balance
      tags:
        - Banking Balances
      security:
        - ProviderAuth:
            - bank:accounts.basic:read
      x-version: '1'
  /banking/accounts/{accountId}/direct-debits:
    get:
      description: Obtain direct debit authorisations for a specific account
      operationId: listDirectDebits
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListDirectDebits'
        '400':
          $ref: '#/components/responses/ListDirectDebits400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/ListDirectDebits404'
        '406':
          $ref: '#/components/responses/ListDirectDebits406'
        '422':
          $ref: '#/components/responses/ListDirectDebits422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Direct Debits For Account
      tags:
        - Direct Debits
      security:
        - ProviderAuth:
            - bank:regular_payments:read
      x-version: '1'
  /banking/accounts/{accountId}/payments/scheduled:
    get:
      description: Obtain scheduled, outgoing payments for a specific account
      operationId: listScheduledPayments
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListScheduledPayments'
        '400':
          $ref: '#/components/responses/ListScheduledPayments400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/ListScheduledPayments404'
        '406':
          $ref: '#/components/responses/ListScheduledPayments406'
        '422':
          $ref: '#/components/responses/ListScheduledPayments422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Scheduled Payments for Account
      tags:
        - Scheduled Payments
      security:
        - ProviderAuth:
            - bank:regular_payments:read
      x-version: '2'
  /banking/accounts/{accountId}/transactions:
    get:
      description: |-
        Obtain transactions for a specific account.
        Some general notes that apply to all end points that retrieve transactions:
          - Where multiple transactions are returned, transactions should be ordered according to effective date in descending order
          - As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the Provider will use the "effective" date/time which will be defined as:
            - Posted date/time if available, then
            - Execution date/time if available, then
            - A reasonable date/time nominated by the Provider using internal data structures
          - For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account
          - For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information across the subsidiary transactions as possible, is required to be shared
      operationId: getTransactions
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/QueryOldestDateTime'
        - $ref: '#/components/parameters/QueryNewestDateTime'
        - $ref: '#/components/parameters/QueryMinAmount'
        - $ref: '#/components/parameters/QueryMaxAmount'
        - $ref: '#/components/parameters/QueryTransactionText'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetTransactions'
        '400':
          $ref: '#/components/responses/GetTransactions400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetTransactions404'
        '406':
          $ref: '#/components/responses/GetTransactions406'
        '422':
          $ref: '#/components/responses/GetTransactions422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Transactions For Account
      tags:
        - Transactions
      security:
        - ProviderAuth:
            - bank:transactions:read
      x-version: '1'
  /banking/accounts/{accountId}/transactions/{transactionId}:
    get:
      description: Obtain detailed information on a transaction for a specific account
      operationId: getTransactionDetail
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/PathTransactionId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetTransactionDetail'
        '400':
          $ref: '#/components/responses/GetTransactionDetail400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetTransactionDetail404'
        '406':
          $ref: '#/components/responses/GetTransactionDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Transaction Detail
      tags:
        - Transactions
      security:
        - ProviderAuth:
            - bank:transactions:read
      x-version: '1'
  /banking/payees:
    get:
      description: Obtain a list of pre-registered payees
      operationId: listPayees
      parameters:
        - $ref: '#/components/parameters/QueryPayeeType'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListPayees'
        '400':
          $ref: '#/components/responses/ListPayees400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListPayees406'
        '422':
          $ref: '#/components/responses/ListPayees422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Payees
      tags:
        - Payees
      security:
        - ProviderAuth:
            - bank:payees:read
      x-version: '2'
  /banking/payees/{payeeId}:
    get:
      description: Obtain detailed information on a single payee. Note that the payee sub-structure should be selected to represent the payment destination only rather than any known characteristics of the payment recipient
      operationId: getPayeeDetail
      parameters:
        - $ref: '#/components/parameters/PathPayeeId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetPayeeDetail'
        '400':
          $ref: '#/components/responses/GetPayeeDetail400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetPayeeDetail404'
        '406':
          $ref: '#/components/responses/GetPayeeDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Payee Detail
      tags:
        - Payees
      security:
        - ProviderAuth:
            - bank:payees:read
      x-version: '2'
  /banking/payments/scheduled:
    get:
      description: Obtain scheduled payments for multiple, filtered accounts that are the source of funds for the payments
      operationId: listScheduledPaymentsBulk
      parameters:
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListScheduledPaymentsBulk'
        '400':
          $ref: '#/components/responses/ListScheduledPaymentsBulk400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListScheduledPaymentsBulk406'
        '422':
          $ref: '#/components/responses/ListScheduledPaymentsBulk422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Scheduled Payments Bulk
      tags:
        - Scheduled Payments
      security:
        - ProviderAuth:
            - bank:regular_payments:read
      x-version: '2'
    post:
      description: Obtain scheduled payments for a specified list of accounts
      operationId: listScheduledPaymentsSpecificAccounts
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountIds'
      responses:
        '200':
          $ref: '#/components/responses/ListScheduledPaymentsSpecificAccounts'
        '400':
          $ref: '#/components/responses/ListScheduledPaymentsSpecificAccounts400'
        '406':
          $ref: '#/components/responses/ListScheduledPaymentsSpecificAccounts406'
        '422':
          $ref: '#/components/responses/ListScheduledPaymentsSpecificAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Scheduled Payments For Specific Accounts
      tags:
        - Scheduled Payments
      security:
        - ProviderAuth:
            - bank:regular_payments:read
      x-version: '2'
  /banking/products:
    get:
      description: |-
        Obtain a list of products that are currently openly offered to the market

        Note that the results returned by this end point are expected to be ordered in descending order according to `lastUpdated`

        ### Conventions
        In the product reference payloads there are a number of recurring conventions that are explained here, in one place.

        #### Arrays Of Features

        In the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:

        - Each element in an array has the same structure so that clients can reliably interpret the payloads
        - Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.
        - Each element has a field name [additionalValue](https://consumerdatastandardsaustralia.github.io/standards/#productfeaturetypedoc). This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.
        - An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.
        - An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.
        - Depending on the type of data being represented there may be additional specific fields.

        #### URIs To More Information

        As the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.

        These URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.

        #### Linkage To Accounts
        From the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.

        For this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.

        Similarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actually has been instantiated and created along with the associated decisions inherent in that process.

        #### Dates
        It is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.

        In addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.
      operationId: listBankingProducts
      parameters:
        - $ref: '#/components/parameters/QueryProductEffective'
        - $ref: '#/components/parameters/QueryUpdatedSince'
        - $ref: '#/components/parameters/QueryProductBrand'
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/ListProducts'
        '400':
          $ref: '#/components/responses/ListProducts400'
        '406':
          $ref: '#/components/responses/ListProducts406'
        '422':
          $ref: '#/components/responses/ListProducts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Products
      security: []
      tags:
        - Banking Products
      x-version: '3'
  /banking/products/{productId}:
    get:
      description: Obtain detailed information on a single product offered openly to the market.
      operationId: getBankingProductDetail
      parameters:
        - $ref: '#/components/parameters/PathProductId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/GetProductDetail'
        '400':
          $ref: '#/components/responses/GetProductDetail400'
        '404':
          $ref: '#/components/responses/GetProductDetail404'
        '406':
          $ref: '#/components/responses/GetProductDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Product Detail
      security: []
      tags:
        - Banking Products
      x-version: '4'
  /common/customer:
    get:
      description: Obtain basic information on the Consumer related to the current session
      operationId: getCustomer
      parameters:
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomer'
        '400':
          $ref: '#/components/responses/GetCustomer400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/GetCustomer406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Customer
      tags:
        - Customer
      security:
        - ProviderAuth:
            - common:customer.basic:read
      x-version: '1'
  /common/customer/detail:
    get:
      description: Obtain detailed information on the Consumer related to the current session
      operationId: getCustomerDetail
      parameters:
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerDetail'
        '400':
          $ref: '#/components/responses/GetCustomerDetail400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/GetCustomerDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Customer Detail
      tags:
        - Customer
      security:
        - ProviderAuth:
            - common:customer.detail:read
      x-version: '2'
  /discovery/outages:
    get:
      description: Obtain a list of scheduled outages for the Provider
      operationId: getOutages
      parameters:
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/GetOutages'
        '400':
          $ref: '#/components/responses/GetOutages400'
        '406':
          $ref: '#/components/responses/GetOutages406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Outages
      security: []
      tags:
        - Operations
      x-version: '1'
  /discovery/status:
    get:
      description: Obtain a health check status for the Provider
      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/GetStatus'
        '400':
          $ref: '#/components/responses/GetStatus400'
        '406':
          $ref: '#/components/responses/GetStatus406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Status
      security: []
      tags:
        - Operations
      x-version: '1'
  /energy/plans:
    get:
      summary: Get Energy Plans
      description: |-
        Obtain a list of energy plans that are currently offered to the market.
        Note that the results returned by this end point are expected to be ordered in descending order according to `lastUpdated`.
      operationId: listEnergyPlans
      parameters:
        - $ref: '#/components/parameters/QueryEnergyPlanType'
        - $ref: '#/components/parameters/QueryEnergyFuelType'
        - $ref: '#/components/parameters/QueryProductEffective'
        - $ref: '#/components/parameters/QueryUpdatedSince'
        - $ref: '#/components/parameters/QueryProductBrand'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyPlans'
        '400':
          $ref: '#/components/responses/ListEnergyPlans400'
        '406':
          $ref: '#/components/responses/ListEnergyPlans406'
        '422':
          $ref: '#/components/responses/ListEnergyPlans422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      security: []
      tags:
        - Energy Plans
      x-version: '1'
  /energy/plans/{planId}:
    get:
      summary: Get Energy Plan detail
      description: Obtain detailed information on a single energy plan offered openly to the market
      operationId: getEnergyPlanDetail
      parameters:
        - $ref: '#/components/parameters/PathPlanId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyPlanDetail'
        '400':
          $ref: '#/components/responses/GetEnergyPlanDetail400'
        '404':
          $ref: '#/components/responses/GetEnergyPlanDetail404'
        '406':
          $ref: '#/components/responses/GetEnergyPlanDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      security: []
      tags:
        - Energy Plans
      x-version: '2'
  /energy/electricity/servicepoints:
    get:
      summary: Get Electricity Service Points
      description: Obtain a list of service points owned by the customer that has authorised the current session
      operationId: listElectricityServicePoints
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListElectricityServicePoints'
        '400':
          $ref: '#/components/responses/ListElectricityServicePoints400'
        '406':
          $ref: '#/components/responses/ListElectricityServicePoints406'
        '422':
          $ref: '#/components/responses/ListElectricityServicePoints422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      security:
        - ProviderAuth:
            - energy:electricity.servicepoints.basic:read
      x-version: '1'
      tags:
        - Electrical Assets
  /energy/electricity/servicepoints/{servicePointId}:
    get:
      summary: Get Electricity Service Point Detail
      description: Obtain detailed standing information for a specific service point that is owned by the customer that has authorised the current session
      operationId: getElectricityServicePointDetail
      parameters:
        - $ref: '#/components/parameters/PathServicePointId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointDetail'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointDetail400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetElectricityServicePointDetail404'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Electrical Assets
      security:
        - ProviderAuth:
            - energy:electricity.servicepoints.detail:read
      x-version: '1'
  /energy/electricity/servicepoints/{servicePointId}/usage:
    get:
      summary: Get Usage For Electricity Service Point
      description: Obtain a list of electricity usage data from a particular service point
      operationId: getElectricityServicePointUsage
      parameters:
        - $ref: '#/components/parameters/PathServicePointId'
        - $ref: '#/components/parameters/QueryOldestDate'
        - $ref: '#/components/parameters/QueryNewestDate'
        - $ref: '#/components/parameters/QueryElectricityMeterIntervalReads'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointUsage'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointUsage400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetElectricityServicePointUsage404'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointUsage406'
        '422':
          $ref: '#/components/responses/GetElectricityServicePointUsage422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Electricity Usage
      security:
        - ProviderAuth:
            - energy:electricity.usage:read
      x-version: '1'
  /energy/electricity/servicepoints/{servicePointId}/der:
    get:
      description: Obtain a list of DER data from a particular service point
      operationId: getElectricityServicePointDER
      parameters:
        - $ref: '#/components/parameters/PathServicePointId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointDER'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointDER400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetElectricityServicePointDER404'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointDER406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get DER For Electricity Service Point
      tags:
        - DER
      security:
        - ProviderAuth:
            - energy:electricity.der:read
      x-version: '1'
  /energy/electricity/servicepoints/usage:
    get:
      description: Obtain usage data for all service points associated with the customer
      operationId: getElectricityServicePointUsageBulk
      parameters:
        - $ref: '#/components/parameters/QueryElectricityMeterIntervalReads'
        - $ref: '#/components/parameters/QueryOldestDate'
        - $ref: '#/components/parameters/QueryNewestDate'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointUsageBulk'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointUsageBulk400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointUsageBulk406'
        '422':
          $ref: '#/components/responses/GetElectricityServicePointUsageBulk422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Bulk Service Point Usage
      tags:
        - Electricity Usage
      security:
        - ProviderAuth:
            - energy:electricity.usage:read
      x-version: '1'
    post:
      description: Obtain the electricity usage data for a specific set of service points
      operationId: getElectricityUsageSpecificServicePoints
      parameters:
        - $ref: '#/components/parameters/QueryOldestDate'
        - $ref: '#/components/parameters/QueryNewestDate'
        - $ref: '#/components/parameters/QueryElectricityMeterIntervalReads'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestServicePointIds'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints'
        '400':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints400'
        '406':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints406'
        '422':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Usage For Specific Service Points
      tags:
        - Electricity Usage
      security:
        - ProviderAuth:
            - energy:electricity.usage:read
      x-version: '1'
  /energy/electricity/servicepoints/der:
    get:
      description: Obtain DER data for all service points associated with the customer
      operationId: getElectricityServicePointDERBulk
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointDERBulk'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointDERBulk400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointDERBulk406'
        '422':
          $ref: '#/components/responses/GetElectricityServicePointDERBulk422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Bulk DER
      tags:
        - Electrical Assets
      security:
        - ProviderAuth:
            - energy:electricity.der:read
      x-version: '1'
    post:
      description: Obtain DER data for a specific set of service points
      operationId: getElectricityDERSpecificServicePoints
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestServicePointIds'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints'
        '400':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints400'
        '406':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints406'
        '422':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get DER For Specific Service Points
      tags:
        - Electrical Assets
      security:
        - ProviderAuth:
            - energy:electricity.der:read
      x-version: '1'
  /energy/accounts:
    get:
      summary: Get Energy Accounts
      description: Obtain the list of energy accounts available under the authorised consent
      operationId: listEnergyAccounts
      parameters:
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyAccounts'
        '400':
          $ref: '#/components/responses/ListEnergyAccounts400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListEnergyAccounts406'
        '422':
          $ref: '#/components/responses/ListEnergyAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Accounts
      security:
        - ProviderAuth:
            - energy:accounts.basic:read
      x-version: '2'
  /energy/accounts/{accountId}:
    get:
      description: Obtain detailed information for a specific energy account
      operationId: getEnergyAccountDetail
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyAccountDetail'
        '400':
          $ref: '#/components/responses/GetEnergyAccountDetail400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetEnergyAccountDetail404'
        '406':
          $ref: '#/components/responses/GetEnergyAccountDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Energy Account Detail
      tags:
        - Energy Accounts
      security:
        - ProviderAuth:
            - energy:accounts.detail:read
      x-version: '3'
  /energy/accounts/{accountId}/payment-schedule:
    get:
      summary: Get Energy Account Payment Schedule
      description: |-
        Obtain the agreed payment schedule and details, if any, for a specific energy account.
        Some general notes about this end point:
        - This API describes how the Consumer has elected to pay for their account - Payments initiated by the Consumer are classified as manual payments. The billing frequency is captured for manual
          payments. The consumer may choose to pay on a different schedule/frequency. The payment method and frequency is
          not captured for manual payments
        - Payments that can be initiated by the energy retailer, based on Consumer preferences and permissions, include payments
          based on a direct debit, card debit or digital wallet setup. Each of these requires a payment frequency to be provided
          along with other relevant fields.
        - Information about payment plans related to debt repayments or arrangements due to hardship is not captured within this
          API
      operationId: getEnergyAccountPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyAccountPaymentSchedule'
        '400':
          $ref: '#/components/responses/GetEnergyAccountPaymentSchedule400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetEnergyAccountPaymentSchedule404'
        '406':
          $ref: '#/components/responses/GetEnergyAccountPaymentSchedule406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:accounts.paymentschedule:read
      x-version: '1'
  /energy/accounts/{accountId}/concessions:
    get:
      summary: Get Energy Account Concessions
      description: Obtain the details of any concessions or arrangements applied to a specific energy account
      operationId: getEnergyAccountConcessions
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyAccountConcessions'
        '400':
          $ref: '#/components/responses/GetEnergyAccountConcessions400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetEnergyAccountConcessions404'
        '406':
          $ref: '#/components/responses/GetEnergyAccountConcessions406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Accounts
      security:
        - ProviderAuth:
            - energy:accounts.concessions:read
      x-version: '1'
  /energy/accounts/{accountId}/balance:
    get:
      summary: Get Balance For Energy Account
      description: Obtain the current balance for a specific energy account
      operationId: getEnergyAccountBalance
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyAccountBalance'
        '400':
          $ref: '#/components/responses/GetEnergyAccountBalance400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetEnergyAccountBalance404'
        '406':
          $ref: '#/components/responses/GetEnergyAccountBalance406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Accounts
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '1'
  /energy/accounts/balances:
    get:
      summary: Get Bulk Balances for Energy
      description: Obtain the current balance for all energy accounts
      operationId: getEnergyAccountBalances
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyAccountBalances'
        '400':
          $ref: '#/components/responses/ListEnergyAccountBalances400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListEnergyAccountBalances406'
        '422':
          $ref: '#/components/responses/ListEnergyAccountBalances422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Accounts
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '1'
    post:
      summary: Get Balances For Specific Energy Accounts
      description: Obtain the current balances for a specified list of energy accounts
      operationId: listBalancesSpecificEnergyAccounts
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountIds'
      responses:
        '200':
          $ref: '#/components/responses/ListBalancesSpecificEnergyAccounts'
        '400':
          $ref: '#/components/responses/ListBalancesSpecificEnergyAccounts400'
        '406':
          $ref: '#/components/responses/ListBalancesSpecificEnergyAccounts406'
        '422':
          $ref: '#/components/responses/ListBalancesSpecificEnergyAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Accounts
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '1'
  /energy/accounts/{accountId}/invoices:
    get:
      summary: Get Energy Account Invoices
      description: Obtain the invoices for a specific account
      operationId: listEnergyAccountInvoices
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/QueryOldestDateInvoices'
        - $ref: '#/components/parameters/QueryNewestDateInvoices'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyAccountInvoices'
        '400':
          $ref: '#/components/responses/ListEnergyAccountInvoices400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/ListEnergyAccountInvoices404'
        '406':
          $ref: '#/components/responses/ListEnergyAccountInvoices406'
        '422':
          $ref: '#/components/responses/ListEnergyAccountInvoices422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '1'
  /energy/accounts/invoices:
    get:
      summary: Get Bulk Invoices
      description: Obtain the invoices for all accounts
      operationId: listEnergyInvoices
      parameters:
        - $ref: '#/components/parameters/QueryOldestDateInvoices'
        - $ref: '#/components/parameters/QueryNewestDateInvoices'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyInvoices'
        '400':
          $ref: '#/components/responses/ListEnergyInvoices400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/ListEnergyInvoices406'
        '422':
          $ref: '#/components/responses/ListEnergyInvoices422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '1'
    post:
      summary: Get Invoices For Specific Energy Accounts
      description: Obtain invoices for a specified set of energy accounts
      operationId: listEnergyInvoicesSpecificAccounts
      parameters:
        - $ref: '#/components/parameters/QueryOldestDateInvoices'
        - $ref: '#/components/parameters/QueryNewestDateInvoices'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountIds'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyInvoicesSpecificAccounts'
        '400':
          $ref: '#/components/responses/ListEnergyInvoicesSpecificAccounts400'
        '406':
          $ref: '#/components/responses/ListEnergyInvoicesSpecificAccounts406'
        '422':
          $ref: '#/components/responses/ListEnergyInvoicesSpecificAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '1'
  /energy/accounts/{accountId}/billing:
    get:
      summary: Get Billing for Energy Account
      description: Obtain the billing transactions for a specific account
      operationId: getEnergyAccountBilling
      parameters:
        - $ref: '#/components/parameters/PathAccountId'
        - $ref: '#/components/parameters/QueryOldestDateTime'
        - $ref: '#/components/parameters/QueryNewestDateTime'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyAccountBilling'
        '400':
          $ref: '#/components/responses/GetEnergyAccountBilling400'
        '403':
          $ref: '#/components/responses/Generic403'
        '404':
          $ref: '#/components/responses/GetEnergyAccountBilling404'
        '406':
          $ref: '#/components/responses/GetEnergyAccountBilling406'
        '422':
          $ref: '#/components/responses/GetEnergyAccountBilling422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '2'
  /energy/accounts/billing:
    get:
      summary: Get Bulk Billing
      description: Obtain billing transactions for all accounts
      operationId: getEnergyAccountBillingBulk
      parameters:
        - $ref: '#/components/parameters/QueryOldestDateTime'
        - $ref: '#/components/parameters/QueryNewestDateTime'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyAccountBillingBulk'
        '400':
          $ref: '#/components/responses/GetEnergyAccountBillingBulk400'
        '403':
          $ref: '#/components/responses/Generic403'
        '406':
          $ref: '#/components/responses/GetEnergyAccountBillingBulk406'
        '422':
          $ref: '#/components/responses/GetEnergyAccountBillingBulk422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '2'
    post:
      summary: Get Billing for Specific Energy Accounts
      description: Obtain billing for a specified set of accounts
      operationId: listBillingSpecificEnergyAccounts
      parameters:
        - $ref: '#/components/parameters/QueryOldestDateTime'
        - $ref: '#/components/parameters/QueryNewestDateTime'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXFAPIAuthDate'
        - $ref: '#/components/parameters/HeaderXFAPICustomerIPAddress'
        - $ref: '#/components/parameters/HeaderXCDSClientHeaders'
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountIds'
      responses:
        '200':
          $ref: '#/components/responses/ListEnergyBillingSpecificAccounts'
        '400':
          $ref: '#/components/responses/ListEnergyBillingSpecificAccounts400'
        '406':
          $ref: '#/components/responses/ListEnergyBillingSpecificAccounts406'
        '422':
          $ref: '#/components/responses/ListEnergyBillingSpecificAccounts422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Energy Billing
      security:
        - ProviderAuth:
            - energy:billing:read
      x-version: '2'
  /admin/metrics:
    get:
      description: This end point allows the Ecosystem Authority to obtain operational statistics per Provider on the operation its implementation.
      operationId: getMetrics
      parameters:
        - $ref: '#/components/parameters/QueryPeriod'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/GetMetrics'
        '400':
          $ref: '#/components/responses/GetMetrics400'
        '406':
          $ref: '#/components/responses/GetMetrics406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Metrics
      tags:
        - Metrics
      x-version: '5'
      security:
        - EAClientAuth:
            - admin:metrics.basic:read
  /admin/register/metadata:
    post:
      description: Indicate that a critical update to the metadata for Accredited Initiators has been made and should be obtained
      operationId: metadataUpdate
      parameters:
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      requestBody:
        $ref: '#/components/requestBodies/RequestMetaDataUpdate'
      responses:
        '200':
          $ref: '#/components/responses/MetadataUpdate'
        '400':
          $ref: '#/components/responses/MetadataUpdate400'
        '406':
          $ref: '#/components/responses/MetadataUpdate406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Metadata Update
      tags:
        - Metadata
      x-version: '1'
      security:
        - EAClientAuth:
            - admin:metadata:update
  /register:
    post:
      description: Register a client using a Ecosystem Authority issued Software Statement Assertion. This endpoint does not require CORS.
      operationId: dcrRegister
      requestBody:
        $ref: '#/components/requestBodies/ClientRegistrationRequest'
      responses:
        '201':
          $ref: '#/components/responses/DCRRegister'
        '400':
          $ref: '#/components/responses/DCRRegister400'
      summary: Register Initiator Client
      tags:
        - Dynamic Client Registration
      x-version: '1'
  /register/{clientId}:
    get:
      description: Get the Initiator Registration for a given OAuth2 Client identifier.
      operationId: dcrGet
      parameters:
        - $ref: '#/components/parameters/PathClientId'
      responses:
        '200':
          $ref: '#/components/responses/DCRRegister'
        '401':
          $ref: '#/components/responses/DCRRegister401'
        '403':
          description: The Initiator does not have permission to read, update or delete the OAuth2 Client
      summary: Get Initiator Registration
      tags:
        - Dynamic Client Registration
      x-version: '1'
      security:
        - ProviderAuth:
            - cdr:registration
    put:
      description: Update a Initiator Registration for a given OAuth2 Client ID.
      operationId: dcrUpdate
      requestBody:
        $ref: '#/components/requestBodies/ClientRegistrationRequest'
      parameters:
        - $ref: '#/components/parameters/PathClientId'
      responses:
        '200':
          $ref: '#/components/responses/DCRRegister'
        '400':
          $ref: '#/components/responses/DCRRegister400'
        '401':
          $ref: '#/components/responses/DCRRegister401'
        '403':
          description: The client does not have permission to read, update or delete the Client
      summary: Update Initiator Registration
      tags:
        - Dynamic Client Registration
      x-version: '1'
      security:
        - ProviderAuth:
            - cdr:registration
    delete:
      description: Delete an Initiator Registration for a given OAuth2 Client ID.
      operationId: dcrDelete
      parameters:
        - $ref: '#/components/parameters/PathClientId'
      responses:
        '204':
          description: Client deleted
        '401':
          $ref: '#/components/responses/DCRRegister401'
        '403':
          description: The provided OAuth2 Client does not have permission to read, update or delete the registration
        '405':
          description: Method Not Allowed. The requested method is unsupported.
      summary: Delete Initiator Registration
      tags:
        - Dynamic Client Registration
      x-version: '1'
      security:
        - ProviderAuth:
            - cdr:registration
  /arrangements/revoke:
    post:
      description: |
        Providers and Initiator Initiators MUST implement a CDR Arrangement Revocation End Point that can be used to revoke an existing sharing arrangement.
        This end point will be implemented according to the following: * Initiators and Providers MUST revoke consent by calling the CDR Arrangement Revocation End Point with a valid CDR Arrangement ID * Providers MUST publish their CDR Arrangement Revocation End Point  using their OpenID Provider Metadata Discovery End Point * Initiators MUST expose their CDR Arrangement Revocation End Point  under their `recipient_base_uri` published in their Software Statement Assertion * Consent revocation MUST also revoke associated refresh and/or access tokens * For Initiators, Provider must be authenticated when they call this end point according to the guidance in the Client Authentication section. * If the ``cdr_arrangement_id`` is not related to the client making the call it MUST be rejected
      operationId: revokeArrangement
      requestBody:
        $ref: '#/components/requestBodies/RevokeArrangement'
      responses:
        '204':
          description: No Content
        '422':
          $ref: '#/components/responses/RevokeArrangement422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Revoke Arrangement
      tags:
        - CDR End Points
      x-version: '1'
  /cdr-register/v1/{industry}/data-holders/brands:
    get:
      description: Allows Initiators to discover Provider Brands available in the CDR ecosystem.
      operationId: listDataHolderBrands
      parameters:
        - $ref: '#/components/parameters/QueryUpdatedSince'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/RegisterDataHolderBrands'
        '400':
          $ref: '#/components/responses/RegisterDataHolderBrands400'
        '401':
          $ref: '#/components/responses/RegisterDataHolderBrands401'
        '406':
          $ref: '#/components/responses/RegisterDataHolderBrands406'
      summary: Get Provider Brands
      tags:
        - Directory Providers
      security:
        - EAAuth:
            - cdr-register:read
      x-version: '2'
  /cdr-register/v1/{industry}/data-holders/brands/summary:
    get:
      summary: Get Provider Brands Summary
      description: Endpoint used by participants to discover public details of Provider Brands from the Ecosystem Authority
      operationId: getDataHolderBrandsSummary
      parameters:
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderIfNoneMatch'
      responses:
        '200':
          $ref: '#/components/responses/RegisterDataHolderBrandsSummary'
        '304':
          $ref: '#/components/responses/RegisterDataHolderBrandsSummary304'
        '400':
          $ref: '#/components/responses/RegisterDataHolderBrandsSummary400'
        '404':
          $ref: '#/components/responses/RegisterDataHolderBrandsSummary404'
        '406':
          $ref: '#/components/responses/RegisterDataHolderBrandsSummary406'
      tags:
        - Directory Providers
      x-version: '1'
  /cdr-register/v1/{industry}/data-holders/status:
    get:
      summary: Get Provider Statuses
      description: Endpoint used by participants to discover the statuses for Providers from the Ecosystem Authority
      operationId: listDataHolderStatuses
      parameters:
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderIfNoneMatch'
      responses:
        '200':
          $ref: '#/components/responses/RegisterDataHolderStatus'
        '304':
          $ref: '#/components/responses/RegisterDataHolderStatus304'
        '400':
          $ref: '#/components/responses/RegisterDataHolderStatus400'
        '406':
          $ref: '#/components/responses/RegisterDataHolderStatus406'
      tags:
        - Directory Providers
      x-version: '1'
  /cdr-register/v1/{industry}/data-recipients/brands/{dataRecipientBrandId}/software-products/{softwareProductId}/ssa:
    get:
      description: Get a Software Statement Assertion (SSA) for an Initiator from the Ecosystem Authority to be used for Dynamic Client Registration with a Provider Brand.
      operationId: getSoftwareStatementAssertion
      parameters:
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/PathDataRecipientBrandId'
        - $ref: '#/components/parameters/PathSoftwareProductId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
      responses:
        '200':
          $ref: '#/components/responses/RegisterGetSoftwareStatement'
        '400':
          $ref: '#/components/responses/RegisterGetSoftwareStatement400'
        '401':
          $ref: '#/components/responses/RegisterGetSoftwareStatement401'
        '403':
          $ref: '#/components/responses/RegisterGetSoftwareStatement403'
        '404':
          $ref: '#/components/responses/RegisterGetSoftwareStatement404'
        '406':
          $ref: '#/components/responses/RegisterGetSoftwareStatement406'
        '422':
          $ref: '#/components/responses/RegisterGetSoftwareStatement422'
      summary: Get Software Statement Assertion (SSA)
      tags:
        - Directory Assertions
      security:
        - EAAuth:
            - cdr-register:read
      x-version: '3'
  /cdr-register/v1/{industry}/data-recipients/brands/software-products/status:
    get:
      description: Get Initiator Statuses
      operationId: listSoftwareProductStatuses
      parameters:
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderIfNoneMatch'
      responses:
        '200':
          $ref: '#/components/responses/RegisterSoftwareProductStatusList'
        '304':
          $ref: '#/components/responses/RegisterSoftwareProductStatusList304'
        '400':
          $ref: '#/components/responses/RegisterSoftwareProductStatusList400'
        '406':
          $ref: '#/components/responses/RegisterSoftwareProductStatusList406'
      summary: Get Initiator Statuses
      tags:
        - Directory Initiators
      x-version: '2'
  /cdr-register/v1/{industry}/data-recipients/status:
    get:
      description: Endpoint used by participants to discover the statuses for Initiator Brands from the Ecosystem Authority.
      operationId: listDataRecipientStatuses
      parameters:
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderIfNoneMatch'
      responses:
        '200':
          $ref: '#/components/responses/RegisterDataRecipientStatusList'
        '304':
          $ref: '#/components/responses/RegisterDataRecipientStatusList304'
        '400':
          $ref: '#/components/responses/RegisterDataRecipientStatusList400'
        '406':
          $ref: '#/components/responses/RegisterDataRecipientStatusList406'
      summary: Get Initiator Brand Statuses
      tags:
        - Directory Initiators
      x-version: '2'
  /cdr-register/v1/{industry}/data-recipients:
    get:
      description: Endpoint used by participants to discover Initiator Brands endorsed by the Ecosystem Authority.
      operationId: listDataRecipients
      parameters:
        - $ref: '#/components/parameters/PathIndustry'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderIfNoneMatch'
      responses:
        '200':
          $ref: '#/components/responses/RegisterDataRecipientList'
        '304':
          $ref: '#/components/responses/RegisterDataRecipientList304'
        '400':
          $ref: '#/components/responses/RegisterDataRecipientList400'
        '406':
          $ref: '#/components/responses/RegisterDataRecipientList406'
      summary: Get Initiator Brands
      tags:
        - Directory Initiators
      x-version: '3'
  /secondary/energy/electricity/servicepoints:
    post:
      summary: Get Service Points (SR)
      description: Obtain a list of service points from the Electricity Authority by providing a list of NMIs
      operationId: getElectricalAuthorityServicePoints
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXCDSArrangement'
      requestBody:
        $ref: '#/components/requestBodies/RequestServicePointIds'
      responses:
        '200':
          $ref: '#/components/responses/ListElectricityServicePoints'
        '400':
          $ref: '#/components/responses/ListElectricityServicePoints400'
        '406':
          $ref: '#/components/responses/ListElectricityServicePoints406'
        '422':
          $ref: '#/components/responses/ListElectricityServicePoints422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      x-version: '1'
      tags:
        - Electricity Authority Assets
  /secondary/energy/electricity/servicepoints/{nationalMeteringId}:
    get:
      summary: Get Service Point Detail (SR)
      description: Obtain detailed standing information for a specific service point that is owned by the customer that has authorised the current session
      operationId: getElectricalAuthorityServicePointDetail
      parameters:
        - $ref: '#/components/parameters/PathNationalMeteringId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXCDSArrangement'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointDetail'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointDetail400'
        '404':
          $ref: '#/components/responses/GetElectricityServicePointDetail404'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointDetail406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Electricity Authority Assets
      x-version: '1'
  /secondary/energy/electricity/servicepoints/{nationalMeteringId}/usage:
    get:
      summary: Get Usage For Service Point (SR)
      description: Obtain a list of electricity usage data from a particular National Metering Identifier
      operationId: getElectricalAuthorityServicePointUsage
      parameters:
        - $ref: '#/components/parameters/PathNationalMeteringId'
        - $ref: '#/components/parameters/QueryOldestDate'
        - $ref: '#/components/parameters/QueryNewestDate'
        - $ref: '#/components/parameters/QueryElectricityMeterIntervalReads'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXCDSArrangement'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointUsage'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointUsage400'
        '404':
          $ref: '#/components/responses/GetElectricityServicePointUsage404'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointUsage406'
        '422':
          $ref: '#/components/responses/GetElectricityServicePointUsage422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      tags:
        - Electricity Authority Usage
      x-version: '1'
  /secondary/energy/electricity/servicepoints/{nationalMeteringId}/der:
    get:
      description: Obtain a list of DER data from a particular National Metering Identifier
      operationId: getElectricalAuthorityServicePointDER
      parameters:
        - $ref: '#/components/parameters/PathNationalMeteringId'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXCDSArrangement'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityServicePointDER'
        '400':
          $ref: '#/components/responses/GetElectricityServicePointDER400'
        '404':
          $ref: '#/components/responses/GetElectricityServicePointDER404'
        '406':
          $ref: '#/components/responses/GetElectricityServicePointDER406'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get DER For Service Point (SR)
      tags:
        - Electricity Authority Assets
      x-version: '1'
  /secondary/energy/electricity/servicepoints/usage:
    post:
      description: Obtain the electricity usage data for a specific set of service points
      operationId: getElectricalAuthorityUsageSpecificServicePoints
      parameters:
        - $ref: '#/components/parameters/QueryOldestDate'
        - $ref: '#/components/parameters/QueryNewestDate'
        - $ref: '#/components/parameters/QueryElectricityMeterIntervalReads'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXCDSArrangement'
      requestBody:
        $ref: '#/components/requestBodies/RequestServicePointIds'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints'
        '400':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints400'
        '406':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints406'
        '422':
          $ref: '#/components/responses/GetElectricityUsageSpecificServicePoints422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get Usage For Specific Service Points (SR)
      tags:
        - Electricity Authority Usage
      x-version: '1'
  /secondary/energy/electricity/servicepoints/der:
    post:
      description: Obtain the electricity usage data for a specific set of service points
      operationId: getElectricalAuthorityDERSpecificServicePoints
      parameters:
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderXV'
        - $ref: '#/components/parameters/HeaderXMinV'
        - $ref: '#/components/parameters/HeaderXFapiInteractionId'
        - $ref: '#/components/parameters/HeaderXCDSArrangement'
      requestBody:
        $ref: '#/components/requestBodies/RequestServicePointIds'
      responses:
        '200':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints'
        '400':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints400'
        '406':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints406'
        '422':
          $ref: '#/components/responses/GetElectricityDERSpecificServicePoints422'
        '500':
          $ref: '#/components/responses/Generic500'
        '503':
          $ref: '#/components/responses/Generic503'
      summary: Get DER For Specific Service Points (SR)
      tags:
        - Electricity Authority Assets
      x-version: '1'
components:
  securitySchemes:
    ProviderAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://idp.holder.cdr/authorize
          tokenUrl: https://idp.holder.cdr/token
          scopes:
            bank:accounts.basic:read: This scope would allow for the third party to access basic information of the customer’s accounts. Includes simple account information including balance. Does not include detailed account information such as account numbers, product information or transaction data.
            bank:accounts.detail:read: This scope would allow for the third party to access detailed information of the customer’s accounts. This scope is effectively additional authorisation to the Basic Bank Account Data scope. Granting this authorisation only makes sense if the Bank Account Data scope is also authorised. Includes basic account information plus account identifiers and product information. Does not include transaction data.
            bank:transactions:read: This scope would allow the third party to access transaction data for accounts. This scope is effectively additional authorisation to the Basic Bank Account Data scope. Granting this authorisation only makes sense if the Basic Bank Account Data scope is also authorised. Includes all account transaction data.
            bank:payees:read: This scope allows access to payee information stored by the customer. Includes payee information such as billers, international beneficiaries and domestic payees.
            bank:regular_payments:read: The scope would allow the third party to access regular payments. Includes Direct Debits and Scheduled Payments.
            energy:electricity.servicepoints.basic:read: This scope would allow for the third party to access basic standing data information of the customer’s service points.<br/><br/>Includes simple standing data including the National Meter Identifier (NMI). Does not include detailed service point information such as loaction or meter attributres.
            energy:electricity.servicepoints.detail:read: This scope would allow for the third party to access detailed information of the customer’s service point connection. This scope is effectively additional authorisation to the Basic Service Point Data scope. Granting this authorisation only makes sense if the Service Point Data scope is also authorised.<br/><br/>Includes basic service point information plus account identifiers and meter information.<br/>Does not include meter usage data.
            energy:electricity.usage:read: This scope would allow the third party to access electricity usage data for service points. This scope is effectively additional authorisation to the Basic Service Point Data scope. Granting this authorisation only makes sense if the Basic Service Point Data scope is also authorised.<br/><br/>Includes all electricity usage data including basic and interval meter meters.
            energy:electricity.der:read: This scope would allow the third party to access data about distributed energy resources for service points. This scope is effectively additional authorisation to the Basic Service Point Data scope. Granting this authorisation only makes sense if the Basic Service Point Data scope is also authorised.<br/><br/>Includes distributed energy resource data available in the Electricity Authoritys DER Register
            energy:accounts.basic:read: This scope would allow for the third party to access basic information of the customer’s energy accounts with retailers.<br/><br/>Includes simple energy account information basic plan information and service points that are part of the account.<br/>Does not include detailed account information such as tailored plans, electricity contract details or discounts.
            energy:accounts.detail:read: This scope would allow for the third party to access detailed information of the customer’s energy accounts with retailers. This scope is effectively additional authorisation to the Basic Energy Account Data scope. Granting this authorisation only makes sense if the Energy Account Data scope is also authorised.<br/><br/>Includes basic energy account information plus tailored tariff information including charges included in the account or plan.<br/>Does not include usage data.
            energy:accounts.paymentschedule:read: The scope would allow the third party to access payment schedules for energy accounts. Includes Direct Debit or Credit based Scheduled Payments and Manual Payments.
            energy:accounts.concessions:read: The scope would allow the third party to access the details of any concessions or hardship arrangement data for a customer’s energy account.
            energy:billing:read: The scope would allow the third party to access the  billing and invoice data for a customer’s energy account.
            common:customer.basic:read: The scope would allow the third party to access personally identifiable information about the customer. For retail customers this would be information about the customer themselves. For business customers it would imply the name of specific user but also information about the business. Includes name and occupation for individuals or name, business numbers and industry code for organisations
            common:customer.detail:read: The scope would allow the third party to access more detailed information about the customer. Includes the data available with the Basic Customer Data scope plus contact details. Includes basic data plus phone, email and address information.
    EAClientAuth:
      type: oauth2
      description: Ecosystem Authority Client authentication. This is the authentication profile for the Ecosystem Authority to access Provider and Initiator endpoints.
      flows:
        clientCredentials:
          tokenUrl: https://idp.holder.cdr/token
          scopes:
            admin:metadata:update: Update notification accessible ONLY to the Ecosystem Authority. If the Provider uses Private Key JWT Client Authentication to authenticate the Ecosystem Authority, this scope is required. Includes permission to notify Providers of changes to Initiator metadata held by the Ecosystem Authority.
            admin:metrics.basic:read: Metrics data accessible ONLY to the Ecosystem Authority. If the Provider uses Private Key JWT Client Authentication to authenticate the Ecosystem Authority, this scope is required. Includes access to basic Metrics data.
    EAAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://secure.api.cdr.gov.au/idp/connect/token
          scopes:
            cdr-register:read: This scope would allow Initiators and Providers access to participant metadata held by the Ecosystem Authority.
            cdr-register:bank:read: This scope would allow Initiators and Providers access to Provider metadata held by the Register.
[...]
